<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kevin's Developer Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Staatliches&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-secondary"> --}}
<nav class="navbar navbar-expand-lg navbar-light .bg-light.bg-gradient sticky-top" data-toggle="collapse" data-target="#navigationbar">
  <div class="navbar-toggle" id="navbarNav" data-toggle="collapse" data-target="#navigationbar">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link header-big nav-main-header" href="/">Kevin Reid's
        <span class="nav-main-span"> Developer Portfolio </span>
        </a>
      </li>
    </ul>
  </div>
  <div id="navbarNav" class="navbar-toggle ml-auto" data-toggle="collapse" data-target="#navigationbar">
    <ul class="navbar-nav ml-auto nav-mainbar">
      <li class="nav-item ">
        <a class="nav-link header-text" href="/">Home </a>
        {{!-- <img src="/public/images/Kevin.JPG"></img> --}}
      </li>
      <li class="nav-item"></li>
       <a class="nav-link header-text" href="/about_me">About Me</a>
      <li class="nav-item">
       <a id="logout" class="nav-link header-text" href="/projects">Projects</a>
      </li>
        <li class="nav-item">
        <a class="nav-link header-text" href="/contact_me">Contact Me</a>
      </li>
    </ul>
  </div>
  </nav>
  <main>
    {{{ body }}}
  </main>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script src="dist/bootstrap-alert-modal.min.js"></script>
   <script src="/public/javascript/homepage.js"></script>

</body>
  <footer class="footer fixed-bottom ">
    {{!-- <div class="card text-center transparent  "> --}}
      <div class="card-body .text-secondary  text-center transparent">
        <h5 class="card-title .text-secondary footer ">Skills => { Git - HTML - CSS - JavaScript - jQuery - Bootstrap - Express.js - Node.js - SQL - Sequelize - Handlebars.js - Object Relational Mapping -Model View Controller }</h5>
      </div>
    {{!-- </div> --}}
  </footer>
</html>


