<section>
  <a class="btn btn-info btn-info-home" href="/"> Back to Home</a>
<div class="card bg-info" style="width: 50rem">
  <img class="card-img-top" src="../images/Kevin.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kevin Reid - Full Stack Web Developer</h5>
    <p class="card-text"> Studying at the University of Toronto. Program completes in October 2022</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-info">I am a student at the University of Toronto, in the coding bootcamp program. I am thoroughly enjoying the program and love the creativity of building our own front and back end apps from the ground up. I love the creative arts, music and photography. The picture on my homepage is one I took at the Toronto Zoo.</li>
  </ul>
  <div class="card-body bg-light">
    <a href="https://bootcamp.learn.utoronto.ca/coding/" target="_blank" class="card-link">Course Outline</a>
    <a href="mailto:kevinnivek@me.com" class="card-link">Email Me</a>
  </div>
</div>
</section>