<section>
<div class="card card-background card-about-me">
  {{!-- style="width: 55rem"> --}}
  <img class="card-img-top" src="../images/Kevin.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kevin Reid - Full Stack Web Developer</h5>
    <p class="card-text"> I am studying in the Coding Bootcamp program at the University of Toronto, which ends in October 2022</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-background">I find programming to be challenging, but greatly rewarding. I love the creativity of building our own front and back end apps from the ground up. I really enjoy the problem solving nature of programming, and the endless opportunities to create responsive designs that generate a great user experience. I enjoy other creative arts, music, photography and video games.</li>
    <li class="list-group-item card-background"> Skills :
        <img src="https://img.shields.io/badge/HTML-lightgray"></img>
        <img src="https://img.shields.io/badge/CSS-yellow"></img>
        <img src="https://img.shields.io/badge/Boootstrap-lightblue"></img>
        <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/Node.js-blue"></img>
        <img src="https://img.shields.io/badge/Express.js-yellow"></img>
        <img src="https://img.shields.io/badge/Handlebars.js-lightblue"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
        <img src="https://img.shields.io/badge/sequelize-lightblue"></img>
        <img src="https://img.shields.io/badge/ORM-lightgray"></img>
        <img src="https://img.shields.io/badge/MVC-blue"></img>
    </li>
  </ul>
  <div class="card-body card-background">
    <a href="https://learn.utoronto.ca/programs-courses/courses/3440-uoft-scs-coding-boot-camp" target="_blank" class="card-link">Course Outline</a>
    <a href="mailto:kevinnivek@me.com" class="card-link">Email Me</a>
    <a href="" class="card-link">Resume - will be added soon</a>
  </div>
</div>
</section>