<section>
<div class="card card-background contact-me-card" style="width: 50rem">
  <img class="card-img-top" src="../images/Ellie_and_IJPG.JPG" alt="Card image cap">
        {{!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="small" data-theme="dark" data-type="VERTICAL" data-vanity="kevinreidkr" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/kevinreidkr?trk=profile-badge"></a></div> --}}
  <div class="card-body">
    <h5 class="card-title">Kevin Reid - Full Stack Web Developer</h5>
    <p class="card-text"> I am currently looking for work. If you would like to reach out to me please use one of the methods below. Cheers!!</p>
  </div>
  <div class="card-body card-background">
    {{!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="small" data-theme="dark" data-type="VERTICAL" data-vanity="kevinreidkr" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/kevinreidkr?trk=profile-badge"></a></div> --}}
    <a href="https://www.linkedin.com/in/kevinreidkr" target="_blank" class="card-link card-link-contact-me fa-brands fa-linkedin">LinkIn</a>
    <a href="https://github.com/Vinyldude8896" target="_blank" class="card-link card-link-contact-me fa-brands fa-github">GitHub</a>
    <a href="mailto:kevinnivek@me.com" class="card-link card-link-contact-me fa-solid fa-envelope">Email</a>
    <a href="" class="card-link">Resume - will be added soon</a>
           {{!-- <div class="contact-section">
              <a href="tel:2899436859" class="fa-solid fa-mobile-screen"></a>
              <a href="mailto:Tyl3r.s@outlook.com" class="fa-solid fa-envelope"></a>
              <a href="https://github.com/Tyl3r-s" class="fa-brands fa-github" target="_blank"></a>
              <a href="https://www.linkedin.com/in/tyler-scott-a55010238/" class="fa-brands fa-linkedin"
                target="_blank"></a>
            </div> --}}
  </div>
</div>
{{!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> --}}
 <script src="https://kit.fontawesome.com/92aa41ed9c.js" crossorigin="anonymous"></script>
</section>

