<section>
  <a class="btn btn-info" href="/projects"> Back to Projects</a>
<div class="card card-background" style="width: 65rem">
  <img class="card-img-top" src="../images/iBetter_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">iBetter</h5>
        <img src="https://img.shields.io/badge/Node.js-blue"></img>
      <img src="https://img.shields.io/badge/Express.js-yellow"></img>
      <img src="https://img.shields.io/badge/Handlebars.js-lightblue"></img>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
        <img src="https://img.shields.io/badge/sequelize.js-lightblue"></img>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-background">
<p>
This is a habit tracker app. As a secured logged in user, you can create habits, edit them, and track your progress through the month by simply checking the checkbox for the corresponding habit and date. When you add a new habit, you get a new column of checkboxes. There is a chart included as well so you can see your progress for each habit.
</p>
</li>
  </ul>
  <div class="card-body card-background">
    <a href="https://github.com/Vinyldude8896/iBetter" target="_blank" class="card-link">View Code on Github</a>
    <a href="https://ibetter.herokuapp.com" target="_blank" class="card-link">View Deployed App</a>
  </div>
</div>
</section>