<div class="card-holder d-flex">
<div class="card bg-info" style="width: 18rem;">
  <img class="card-img-top " src="../images/Employee_manager_screenshot.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" >Employee Tracker App</h5>
    <p>Uses Node.js Express.js Javascript MySQL</p>
    <p class="card-text">This app is used as a an employee tracker tool. This uses a node.js command line interface.</p>
    <a href="/employee_tracker" class="btn btn-primary" >See more</a>
        <a href="https://github.com/Vinyldude8896/Employee-Tracker"  target="_blank" class="btn btn-primary">Github</a>
  </div>
</div>
<div class="card d-flex bg-info" style="width: 18rem;">
  <img class="card-img-top" src="../images/tech_blog_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card d-flex bg-info" style="width: 18rem;">
  <img class="card-img-top" src="../images/iBetter_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card d-flex bg-info" style="width: 18rem;">
  <img class="card-img-top" src="/images/weather_dashboard.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>