<div class="card-holder d-flex">
<div class="card card-background" style="width: 20rem;">
  <img class="card-img-top " src="../images/Employee_manager_screenshot.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" >Employee Tracker App</h5>
    <div>
    <img src="https://img.shields.io/badge/Node.js-blue"></img>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
    </div>
    <p></p>
    <p class="card-text">This app is used as a an employee tracker tool. This uses a node.js command line interface.</p>
    <a href="/employee_tracker" class="btn btn-primary" >See more</a>
    <a href="https://github.com/Vinyldude8896/Employee-Tracker"  target="_blank" class="btn btn-primary">Github</a>
  </div>
</div>
<div class="card d-flex card-background" style="width: 20rem;">
  <img class="card-img-top" src="../images/tech_blog_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tech Blog</h5>
        <img src="https://img.shields.io/badge/Node.js-blue"></img>
      <img src="https://img.shields.io/badge/Express.js-yellow"></img>
      <img src="https://img.shields.io/badge/Handlebars.js-lightblue"></img>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
        <img src="https://img.shields.io/badge/sequelize.js-lightblue"></img>
    <p class="card-text">Blog posting site that requires a secure login. Lets users post and comment on posts.</p>
    <a href="/tech_blog" class="btn btn-primary" >See more</a>
    <a href="https://github.com/Vinyldude8896/The-Tech-Blog"  target="_blank" class="btn btn-primary">Github</a>
    {{!-- <p></p> --}}
    <a href="https://immense-cliffs-94479.herokuapp.com/"  target="_blank" class="btn btn-primary">Deployed</a>
  </div>
</div>
<div class="card d-flex card-background" style="width: 20rem;">
  <img class="card-img-top" src="../images/iBetter_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">iBetter</h5>
        <img src="https://img.shields.io/badge/Node.js-blue"></img>
      <img src="https://img.shields.io/badge/Express.js-yellow"></img>
      <img src="https://img.shields.io/badge/Handlebars.js-lightblue"></img>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
        <img src="https://img.shields.io/badge/sequelize.js-lightblue"></img>
    <p class="card-text">This is a habit tracker app that uses a secure login and SQL database.</p>
    <a href="/iBetter" class="btn btn-primary" >See more</a>
    <a href="https://github.com/Vinyldude8896/iBetter"  target="_blank" class="btn btn-primary">Github</a>
    {{!-- <p></p> --}}
    <a href="https://ibetter.herokuapp.com/"  target="_blank" class="btn btn-primary">Deployed</a>
  </div>
</div>
<div class="card d-flex card-background" style="width: 20rem;">
  <img class="card-img-top" src="../images/weather_dashbaord.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Weather Dashboard</h5>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/WebApi-blue"></img>
        <img src="https://img.shields.io/badge/HTML/CSS-lightblue"></img>
    <p class="card-text">This is a weather app that will allow you to search a city and see the curent and forcasted weather results</p>
    <a href="/weather_dashboard" class="btn btn-primary" >See more</a>
    <a href="https://github.com/Vinyldude8896/Weather-Dashboard"  target="_blank" class="btn btn-primary">Github</a>
    {{!-- <p></p> --}}
    <a href="https://vinyldude8896.github.io/Weather-Dashboard/"  target="_blank" class="btn btn-primary">Live Link</a>
  </div>
</div>
{{!-- <div class="card d-flex card-background" style="width: 15rem;">
  <img class="card-img-top" src="../images/artist_music_tour.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Artist Music Tour</h5>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/HTML-blue"></img>
        <img src="https://img.shields.io/badge/CSS-lightblue"></img>
    <p class="card-text">This app will call third party API's to reveal concert listings and discographies based on the artist searched </p>
    <a href="/artist_music_tour" class="btn btn-primary" >See more</a>
    <a href="https://github.com/Vinyldude8896/Artist_Music_Tour"  target="_blank" class="btn btn-primary">Github</a>
    <p></p>
    <a href="https://vinyldude8896.github.io/Artist_Music_Tour/"  target="_blank" class="btn btn-primary">Live Link</a>
  </div>
</div> --}}
