<section>
  <a class="btn btn-info" href="/projects"> Back to Projects</a>
<div class="card card-background" style="width: 65rem">
  <img class="card-img-top" src="../images/tech_blog_screenshot_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tech Blog</h5>
        <img src="https://img.shields.io/badge/Node.js-blue"></img>
      <img src="https://img.shields.io/badge/Express.js-yellow"></img>
      <img src="https://img.shields.io/badge/Handlebars.js-lightblue"></img>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/MySQL-blue"></img>
        <img src="https://img.shields.io/badge/sequelize.js-lightblue"></img>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-background">
<p>
    This is a blog site for tech related posts. This requires a secured login to use. You can view posts, comment on them, create posts edit and delete posts.
</p>
</li>
  </ul>
  <div class="card-body card-background">
    <a href="https://github.com/Vinyldude8896/The-Tech-Blog" target="_blank" class="card-link">View Code on Github</a>
    <a href="https://immense-cliffs-94479.herokuapp.com/" target="_blank" class="card-link">View Deployed App</a>
  </div>
</div>
</section>