<section>
  <a class="btn btn-info" href="/projects"> Back to Projects</a>
<div class="card card-background" style="width: 65rem">
  <img class="card-img-top" src="/images/weather_dashboard.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Weather Dashboard</h5>
      <img src="https://img.shields.io/badge/Javascript-lightgray"></img>
        <img src="https://img.shields.io/badge/WebApi-blue"></img>
        <img src="https://img.shields.io/badge/HTML/CSS-lightblue"></img>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-background">
<p>
This is a weather app. This makes a call to a third-party-API,
when you search for a city you will be presented with current and future 5 day forecasts.
The results will show conditions for the city: name, date, weather conditions, temperature, humidity, wind speed and UV index.
</p>
</li>
  </ul>
  <div class="card-body card-background">
    <a href="https://github.com/Vinyldude8896/Weather-Dashboard" target="_blank" class="card-link">View Code on Github</a>
    <a href=" https://vinyldude8896.github.io/Weather-Dashboard/" target="_blank" class="card-link">View Live Link</a>
  </div>
</div>
</section>