/* * {
    background: url('../images/ZooPicture_tree.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
   } */

   body{
    background: url('../images/ZooPicture_tree.jpeg');
   
   background-position: center center;
   
   background-repeat: no-repeat; 
   
   background-attachment: fixed;
   
   background-size: cover;

   margin-top: 300px;
   
   }