

   body{
    background: url('../images/ZooPicture_tree.jpeg');
   
   background-position: center center;
   
   background-repeat: no-repeat; 
   
   background-attachment: fixed;
   
   background-size:cover;

   font-family: 'Open Sans', sans-serif;
   font-family: 'Staatliches', cursive;

   }



 .nav-main-header {
     font-size: 35px;
     font-weight: bold;
 }

 .nav-main-span {
     display: inline;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.nav-mainbar {
    font-size: 30px;
    font-weight: normal;
}

.footer {
position: fixed;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
font-size: 15px;
}

   .transparent{    
    background-color: rgba(0,0,0,0.15);
    color: lightgray;
}

.panel{
    background-color: transparent;
    border: 1px #222;
    /* margin-top: 25px; */
    /* margin-left: 100px; */
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    
}

.bar-spacing {
   margin-left: 50px;
}

.center-text {
    text-align: center;
}

.bar-spacing-nav1 {
    margin-left: 380px;
}

.nav_bar_text {
    color: #9FA6B2;
    text-shadow: #9FA6B2;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: -10px;
    font-family: 'Roboto Mono', monospace;
}

.card-img-top {
    width:  100%;
    height: 30%;
    height: 20vw; 
    object-fit:scale-down;
    align-items: left;
}

.card-img-projects {
    width:  100%;
    height: 50%;
    height: 20vw; 
    object-fit:cover;
}

.btn-info {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin-left: 15px;
}

.btn-info-home {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    margin-left: 10px;
}